
    
#container{
    display: flex;
    padding-left: 120px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 15px;
    border: 10px 30px;
    width: 1000px;
    height: 750px;
    box-shadow: 5px 10px cadetblue;
    

}
    
     #slide{
        width: 1850px;
        height: 900px;
        background-image: url(images/airmax.jpeg);
        animation-duration: 30s;
        background-repeat: no-repeat;
        animation-name: show;
        margin-left: 20%;
        animation-iteration-count: infinite;

     }

    
    @keyframes show {
        from{background-image: url(images/airfoce.jpeg)}
        to{background-image: url(images/combat.jpeg);}
        from{background-image:url(images/nikeshoes.jpeg) ;}
        
        
    }
    body{
       background-color: rgb(206, 225, 225);
    }

    #forms{
        padding: 20px 10px;
        border: 150px;
        border-radius: 20px;
    

    }
    
    .input{
        padding:10px 20px;
        border-radius: 5px;
    }
    .butt1{
        padding: 10px 20px;
        background-color: cornflowerblue;
        border-radius: 15px;
    }

    
    
    
    
    
    
    
    


